cart .list-group img {
    height: 100px;
}

.no-margin {
    margin: 0px;
}

cart .list-group .input-group {
    width: 115px;
    margin-top: 40px;
}

cart .list-group .producttitle {
    margin-top: 10px;
    font-weight: bold;
}


cart .list-group .list-group-item>div {
    height:100%;
}

.margin-top-30 {
    margin-top: 30px;
}

.list-group-item .fa-close {
    position: absolute;
    cursor:pointer;
    right: 5px;
    top: 5px;
}
.list-group-item .productname { 
	width:180px;
}

@media only screen and (max-width: 400px) {
	.list-group-item .productname { 
		width:100px;
	}
	
	.list-group-item .fa-close {
		position: absolute;
		cursor: pointer;
		right: 5px;
		top: 5px;
	}
}

.list-group-item {
    width: auto;
    display: inline-block;
    margin-right: 2%;
    width: 320px;
}

.summarytitle {
    border-bottom: 1px solid #ccc;
    padding: 10px 0px;
}

.carttotal {
    color: #333;
    font-size: 20px;
    padding-top: 10px;
}

@media only screen and (max-width: 880px) {
    .list-group-item {
        margin: 20px auto 0px auto;
        display: table;
        padding-right: 15px;
    }
    .list-group-item, .list-group-item table {
        width: 100%;
        table-layout: fixed;
    }
    cart .productname {
        width: auto;
    }
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}
 
.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity:0;
}
 
.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity:1;
}