home .mission li{
	margin-top: 15px;
}

.box-default {
    border: 1px solid #f1f1f1;
    padding: 20px;
    position: relative;
}
.navbar-nav li {
    margin-left: 20px;
}
.box-top .title {
    position: absolute;
    top: -15px;
    background: #fff;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    z-index: 2;
    font-size: 20px;
    width: 150px
}
.margin-top-50 {
    margin-top: 50px!important;
}
.product {
    margin: 30px 0px;
    min-height: 650px;
}

.jumbotron {
    background: #fff;
    max-width: 1444px;
    margin: 0 auto;
}

home h2, home h3 {
    font-weight: bold;
}

.onsale p {
    margin-bottom: 50px;
}

home *{
    color: #757575;
}
.heading-font {
    color: #333;
    opacity: 0.8;
}
.onsale {
    padding-top: 50px;
	margin-bottom: 35px;
}
.onsale img {
    width: 70%;
}
.jumbotron {
    padding-bottom: 70px;
}
.jumbotron p {
    font-size: 15px;
}

.jumbotron p.small {
    font-size: 14px;
}

.jumbotron p sub {
    bottom: 0px;
}

home .mission li {
	padding-right: 25px;
	height: 100px;
}

.padding-30 {
    padding: 0px 50px;
}

.btn-important, #btn-important{
	border:3px solid #494c50;
	border-radius:0;
	color:#494c50;
	margin-top:5px;
	background:white;
}
button.btn:focus, button.btn:active {
    outline: 0;
}
.btn-important:hover{
	background:#494c50;
	color:white;
}
.about-bar img {
    width: 100%;
}
.box-top {
    border-top: 1px solid #f1f1f1;
}
.mission img {
    width: 100%;
}

.banner {
    position:relative;
}

.banner img {
    height: 100%;
    float: right;
}

.banner-text, .banner-blur {
    position: absolute;
    left: 10%;
    top: 20%;
    bottom: 0px;
    height: 200px;
    width: 490px;
    border-radius: 10px;
    text-align: center;
    padding:20px;
}

.bannertitle {
    margin: 10px 0 20px 0;
    color: #aa5446;
}
.banner-text{
    z-index: 2;
    font-size: 18px;
    padding-left: 30px;
}
.banner-blur {
    filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    opacity:0.5;
    background: #FBFBFB;
}

.navbar-brand img {
    width: 200px;
}

home .mission .chemicals li {
	height: 45px;
    line-height: 45px;
    list-style: none;
    text-align: center;
}

home .mission .chemicals li > div {
	background: #aa5446;
    color: #fff;
    border: 1px solid rgba(0,0,0,0.22);
}

@media only screen and (max-width: 768px) {
    .banner-text, .banner-blur {
        position: absolute;
        left: auto;
        top: auto;
        bottom: auto;
        margin: auto;
        height: 100%;
        width: 100%;
        border-radius: 0px;
    }
    .navbar-brand {
        padding: 12px 15px;
    }
	home .mission li {
		padding-right: 15px;
		height: auto;
	}
}

