shop>.jumbotron {
    position: relative;
}

.shop-height {
    min-height: 650px;
}

.text-overflow-shop {
	height: 25px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}