<div class="jumbotron row onsale text-center">
    <div class="loading backdrop-color" ng-show="vm.productsLoading">
        <div class="loading-image"><i class="fa fa-refresh"></i></div>
    </div>
    <div class="col-md-12 box-top shop-height">
        <span class="title heading-font" ng-bind="::vm.labelService.labels.featuredProductsTitle"></span>
        <div class="col-md-6 text-center product" ng-repeat="product in ::vm.products">
            <img ng-src="{{::vm.images[$index].link.href}}">
            <h3 ng-bind="::product.name"></h3>
            <p class="small">
            {{::product.price.data.raw.without_tax | currency: '&#8377;'}}
            </p>
            <p></p>
            <p ng-bind="::product.description"></p>
            <br>
            <a href="#/product/{{::product.id}}" class="btn btn-important" ng-bind="::vm.labelService.labels.buyNowButton"></a>
        </div>
    </div>
</div>