shop>.jumbotron {
    position: relative;
}

shop img.img-padding {
	padding: 0px 20%;
}

shop .font-special {
    font-family: 'lucida bright';
}

.shop-height {
    min-height: 650px;
}

.shop-height a.product-title, .shop-height a.product-title:focus, .shop-height a.product-title:hover {
	color: inherit;
}
.carousel-control.right , .carousel-control.left{
	background-image:none;
	color: #0a0a0a;
}
.productcarousel.nofixed {
    max-width: 250px;
    margin: auto;
}
.productcarousel.nofixed .item>div {
    line-height: 250px;
    min-height: 250px;
}

.productcarousel.nofixed .carousel-indicators {
    bottom: -30px;
}

.banner-carousel .carousel-control {
	display:none;
}
shop select {
    margin: auto;
    min-width: 50px;
}

.text-overflow-shop, .shop-height a.product-title, .text-overflow-shop blockquote{
	height: 45px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

shop blockquote {
    margin: 0px;
}

shop p.small {
    margin-bottom: 0px;
}