productdetails .carousel img {
    width: 80%;
}

.productcarousel .carousel-indicators li.active{
    background-color: #333;
}

.productcarousel .carousel-indicators li{
    border-color: #333;
}

.productcarousel .item>div,productdetails .carousel{
    min-height: 360px;
    max-width: 380px;
    margin: auto;
}
.productcarousel .item>div {
    line-height: 360px;
}

.productcarousel .item>div img{
    display: inline;
    cursor: zoom-in;
}

.item-title{
    color: #333;
}

productdetails input {
    text-align: center;
}
.padding-side-30px {
    padding:0px 30px;
}