productdetails img {
    width: 80%;
}

productdetails {
    color: #A1A1A1;
}

.item-title{
    color: #333;
}

productdetails input {
    text-align: center;
}
.padding-side-30px {
    padding:0px 30px;
}