<div class="jumbotron text-center">
    <div class="row">
        <div class="col-md-7">
            <img ng-src="{{::vm.image}}" />
        </div>
        <div class="col-md-5 text-left padding-side-30px">
            <h4 class="item-title" ng-bind="::vm.product.name"></h4>
            <p><h3><span ng-bind="::vm.product.price[0].amount | currency: '&#8377;'"></span></h3></p>
            <p ng-bind="::vm.product.description"></p>
            <br/>
            <div style="width:120px;">
                <div class="input-group">
                    <span class="input-group-btn" ng-click="vm.quantity=vm.quantity+1">
                        <button class="btn btn-default" type="button"><i class="fa fa-plus"></i></button>
                    </span>
                    <input type="text" class="form-control" ng-model="vm.quantity" readonly>
                    <span class="input-group-btn" ng-click="vm.quantity!=1?vm.quantity=vm.quantity-1:''">
                        <button class="btn btn-default" type="button"><i class="fa fa-minus"></i></button>
                    </span>
                </div>
            </div>
            <br/>
        <div ng-if="vm.cartItem" class="alert alert-warning" ng-bind="vm.labelService.labels.itemInCart"></div>
            <p>
                <button ng-if="!vm.cartItem" class="btn btn-important" ng-bind="::vm.labelService.labels.productBuyNow" ng-click="vm.updateCart()"></button>
                <button ng-if="vm.cartItem" class="btn btn-important" ng-bind="::vm.labelService.labels.productUpdateNow" ng-click="vm.updateCart()"></button>
            </p>
            <br/>
        </div>
        <div class="loading backdrop-color" ng-show="vm.loading">
            <div class="loading-image"><i class="fa fa-refresh"></i></div>
        </div>
    </div>
</div>