footer {
	width: 100%;
	background: #363636;
	color: #fff;
	min-height: 60px;
	font-size: 16px;
	line-height: 30px;
	padding-right: 10px;
    padding-top: 15px;
    position: relative;
    bottom: 0px;
    z-index: 2;
}
    footer .copyright {
        margin-left: 15px;
        font-size: 12px;
    }
footer a {
    color: #fff;
}

.social {
    padding: 0 20px;
    width: 40px;
    display: inline-block;
    text-align: center;
}
.underline {
    text-decoration: underline;
}
footer a:hover {
    color: #AFAFAF;
}