<div class="full-jumbotron no-padding row contact-head contact" style="background:url({{vm.labelService.labels.contactBannerImage}});background-size: cover;background-position: top center;">
	<div class="col-md-12 text-center contact-title">
		<h1>Contact Coffree</h1>
	</div>
</div>


<div class="jumbotron row content">
	<div class="col-md-12">
		<div id="contact">
			<p></p>
		</div>
	</div><br><br>
	<div class="col-md-8 col-md-offset-2 text-center">
        <p id="contact-info">We believe in the beauty of happiness and value the feedback that our customers have. If you have any questions in regards to our coffee or our mission please do not hesitate to contact us.<br> <br>
        823 Main St<br>
        Vancvouer, BC <br>
        phone: (123) 941 756 1234<br>
        fax: (123) 941 756 1234<br>
        <br>
        </p>
	</div>

	<div class="col-md-6 col-md-offset-3">
			<div class="form contact-forms">
				<div class="field-row" id="contact-form">
					<input class="required form-control" placeholder="Email Address*" value="" name="fields[email]" id="fields_email"/>
					<span class="error"></span>

					<input class="required form-control" placeholder="Name*" value="" name="fields[name]" id="fields_name" />
					<span class="error"></span>

					<textarea rows="10" class="required form-control" placeholder="Message*" value="" name="fields[message]" id="fields_message"></textarea>
					<span class="error"></span>
				</div>
				<input type="submit" class="btn-important btn" value="Submit"/>
			</div>
	</div>
</div>